services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    _instanceof:
        Mindy\Bundle\AdminBundle\Dashboard\Registry:
            public: true

        Mindy\Template\Library\LibraryInterface:
            public: true
            tags: ['template.library']

        Mindy\Bundle\AdminBundle\Dashboard\WidgetInterface:
            public: true
            tags: ['dashboard.widget']

    Mindy\Bundle\AdminBundle\:
        resource: '../../*'
        exclude: '../../{Migrations,Model,Tests,vendor}'

    Mindy\Bundle\AdminBundle\Controller\:
        resource: '../../Controller'
        autowire: true
        tags: ['controller.service_arguments']
