$flexy-font: 'Clear Sans', $flexy-default-font;
$flexy-colors: map-merge($flexy-default-colors, (
  dark: #3e4b5b,
  brown: darken(#96a8b2, 25%),
  gray: rgba(#5a637e, 0.49),
  help: #b8b8b8,
  divider: rgba(#d8d8d8, 0.38),
  error: #dd162d,
  success: #4caf50,
  primary: #2196f3
));
