@import '~clearsans/clearsans.css';
@import '~font-proxima-nova/style.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import 'settings';
@import '~flexy-framework/flexy/flexy';
@import '~flexy-framework/flexy/theme/default';
@import 'component/noty';
@import 'component/colorpicker';
@import 'component/magnific_popup';
@import 'component/select2/index';
@import 'global';
@import 'modifier';
@import 'block/input';
@import 'block/sidebar';
@import 'block/segment';
@import 'block/filemanager';
@import 'block/upload';
@import 'block/dashboard';
@import 'block/icon';
@import 'block/button';
@import 'block/login';
@import 'block/order';
@import 'block/td';
@import 'block/tab';
@import 'block/table';
@import 'block/heading';
@import 'block/product-image';
@import 'block/product';
@import 'block/comment';
@import 'block/pane';
@import 'block/color';
@import 'block/flash';
@import 'block/breadcrumb';
@import 'block/logo';
@import 'block/body';
@import 'block/warning';
@import 'block/header';
@import 'block/content';
