$flexy-theme-border-radius: 0;
$flexy-font: 'Clear Sans', Lato, Roboto, Helvetica, Arial, sans-serif;
$flexy-grid-wrapper-max-width: 1280px;
$flexy-body-text-color: #353535;
$flexy-theme-colors: (
        default: #2196f3,
        dark: #353535,
        brown: darken(#96a8b2, 25%),
        gray: #96a8b2,
        help: #B8B8B8,
        divider: rgba(#D8D8D8, .38),
        error: #dd162d,
        success: #4caf50,
        primary: #2196f3
) !default;
$flexy-block-input-focus-color: map-get($flexy-theme-colors, default);
