.b-dashboard-widget {
  background: {
    color: #fff;
  }
  box-shadow: 0 4px 8px rgba(#000, 0.2);
  padding: 1em;
  box-sizing: border-box;

  &__title {
    font-weight: bold;
    @include antialias;
    margin-bottom: 1em;
  }
}