.b-flash {
  padding: .5em 1em;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1em;

  @include flexy-colors() {
    background: {
      color: $flexy-current-color;
    }
  }
}
