.b-flash {
  @extend .m-block-shadow;
  padding: 1em;
  box-sizing: border-box;
  margin: 1em;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;

  @include flexy-colors() {
    background: {
      color: $flexy-current-color;
    }
  }
}
