.b-login {
  &__container {
  }

  &__form {
    width: 480px;
    padding: 2em;
    margin: 2em auto;
    box-sizing: border-box;
    background: {
      color: #fff;
    }
    border-radius: $flexy-theme-border-radius;
    box-shadow: 0 0 40px rgba(#000, 0.1);
  }
}
