<div class="b-dashboard-widget">
        <div class="b-dashboard-widget__title">Структура панели управления</div>
    {% for node in menu %}
        {% set children = node.getChildren() %}
            <div>
                {% if node.getUrl() %}
                        <a href="{{ node.getUrl() }}">
                                <strong>{{ node.getName() }}</strong>
                        </a>
                {% else %}
                        <div>
                                <strong>{{ node.getName() }}</strong>
                        </div>
                {% endif %}

                {% if children|length > 0 %}
                        <div>
                            {% for child in children %}
                                    <a class="b-sidebar__sublink" href="{{ child.getUrl() }}">
                                        {{ child.getName() }}
                                    </a>
                            {% endfor %}
                        </div>
                {% endif %}
            </div>
    {% endfor %}
</div>
