{% if breadcrumbs %}
    <div class="b-breadcrumb">
        <div class="b-breadcrumb__item">
            <a class="b-breadcrumb__item b-breadcrumb__item_link"
               href="{{ url('admin_dashboard_index') }}">
                <i class="b-icon">home</i>
            </a>
        </div>

        {% for bc in breadcrumbs %}
            <div class="b-breadcrumb__symbol">
                <i class="b-icon">keyboard_arrow_right</i>
            </div>

            {% if loop.last %}
                <span class="b-breadcrumb__item">{{ bc.name }}</span>
            {% else %}
                <div class="b-breadcrumb__item">
                    {% if bc.url %}
                        <a class="b-breadcrumb__item_link"
                           href="{{ bc.url }}">{{ bc.name }}</a>
                    {% else %}
                        {{ bc.name }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
