{% if breadcrumbs %}
    <div class="b-breadcrumb">
        <div class="b-breadcrumb__item">
            <a class="b-breadcrumb__item b-breadcrumb__item_link"
               href="{{ url('admin_dashboard_index') }}">
                <i class="icon home"></i>
            </a>
        </div>

        <div class="b-breadcrumb__symbol">
            <i class="icon angle right"></i>
        </div>

        {% for bc in breadcrumbs %}
            {% if loop.last %}
                <span class="b-breadcrumb__item">{{ bc.name }}</span>
            {% else %}
                <div class="b-breadcrumb__item">
                    {% if bc.url %}
                        <a class="b-breadcrumb__item_link"
                           href="{{ bc.url }}">{{ bc.name }}</a>
                    {% else %}
                        {{ bc.name }}
                    {% endif %}
                </div>
                <div class="b-breadcrumb__symbol">
                    <i class="icon angle right"></i>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
