<a href="{{ url("admin_dashboard_index") }}" class="b-header__link">Рабочий стол</a>
{% for node in menu %}
    {% set children = node.getChildren() %}
    {% if children|length > 0 %}
        <div class="b-header__item b-header__item_sub">
            <a class="b-header__link"
                 href="{{ node.getUrl() }}">{{ node.getName() }}</a>
            <div class="b-header__sub">
                {% for child in children %}
                    <a class="b-header__sublink" href="{{ child.getUrl() }}">
                        {{ child.getName() }}
                    </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a href="{{ url("admin_dashboard_index") }}" class="b-header__link">
            {{ node.getName() }}
        </a>
    {% endif %}
{% endfor %}
<a href="{{ url("admin_logout") }}" class="b-header__link">Выход</a>
