{% for node in menu %}
    {{ node.getName() }}
{% endfor %}

{% comment %}
<a href="{{ url("admin_dashboard_index") }}" class="b-header__link">Рабочий стол</a>
<div class="b-header__item b-header__item_sub">
    <div class="b-header__link">Магазин</div>
    <div class="b-header__sub">
        <a class="b-header__sublink" href="{{ url('admin_rise_order_order_list') }}">Заказы</a>
        <a class="b-header__sublink" href="{{ url('admin_rise_product_list') }}">Товары</a>
        <a class="b-header__sublink" href="{{ url('admin_rise_product_category_list') }}">Категории</a>
        <a class="b-header__sublink" href="{{ url('admin_rise_product_collection_list') }}">Коллекции</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_order_customer_list') }}">Клиенты</a>
        <a class="b-header__sublink" href="{{ url('admin_rise_cart_cart_list') }}">Корзины
            покупателей</a>
        <a class="b-header__sublink" href="{{ url('admin_rise_market_shop') }}">Магазин ВКонтакте</a>
    </div>
</div>
<div class="b-header__item b-header__item_sub">
    <div class="b-header__link">Сайт</div>
    <div class="b-header__sub">
        <a class="b-header__sublink" href="{{ url('file_list') }}">Файлы</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_user_user_list') }}">Пользователи</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_slider_slider_list') }}">Слайды</a>
        <a class="b-header__sublink" href="{{ url('admin_rise_page_page_list') }}">Страницы</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_menu_list') }}">Меню</a>
    </div>
</div>
<div class="b-header__item b-header__item_sub">
    <div class="b-header__link">Настройки</div>
    <div class="b-header__sub">
        <a class="b-header__sublink"
           href="{{ url('admin_rise_product_entity_list') }}">Сущности</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_product_attribute_list') }}">Аттрибуты</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_product_label_list') }}">Метки</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_delivery_delivery_list') }}">Способы доставки</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_payment_payment_list') }}">Способы оплаты</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_order_status_list') }}">Статусы</a>
        <a class="b-header__sublink"
           href="{{ url('settings') }}">Система</a>
    </div>
</div>
<div class="b-header__item b-header__item_sub">
    <div class="b-header__link">Мета информация</div>
    <div class="b-header__sub">
        <a class="b-header__sublink"
           href="{{ url('admin_rise_seo_seo_list') }}">Мета информация</a>
        <a class="b-header__sublink"
           href="{{ url('admin_rise_seo_template_list') }}">СЕО шаблоны</a>
    </div>
</div>
<a href="{{ url("admin_logout") }}" class="b-header__link">Выход</a>
{% endcomment %}
