{% macro link_content(text, icon) %}
    <i class="b-sidebar__icon {{ icon }}"></i>
    <span class="b-sidebar__text">{{ text }}</span>
{% endmacro %}

<div class="b-sidebar__item">
    <a href="{{ url("admin_dashboard_index") }}" class="b-sidebar__link">
        {% call link_content('Рабочий стол', 'home') %}
    </a>
</div>
{% for node in menu %}
    {% set children = node.getChildren() %}
    <div class="b-sidebar__item{% if children|length > 0 %} b-sidebar__item_sub{% endif %}">
        {% if node.getUrl() %}
            <a href="{{ node.getUrl() }}" class="b-sidebar__link">
                {% call link_content(node.getName(), node.getIcon()) %}
            </a>
        {% else %}
            <div class="b-sidebar__link">
                {% call link_content(node.getName(), node.getIcon()) %}
            </div>
        {% endif %}

        {% if children|length > 0 %}
            <div class="b-sidebar__sub">
                {% for child in children %}
                    <a class="b-sidebar__sublink" href="{{ child.getUrl() }}">
                        {{ child.getName() }}
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endfor %}
<div class="b-sidebar__item">
    <a href="{{ url("admin_logout") }}" class="b-sidebar__link">
        {% call link_content('Выход') %}
    </a>
</div>
