<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    {% block header %}
        <link rel="stylesheet" href="/bundles/admin/build/css/app.css"/>
    {% endblock %}
</head>
<body class="b-body{% block body_class %}{% endblock %}">

<div class="b-content">
    <div class="b-wrapper">
        <div class="b-row">
            <div class="b-col b-col_small_12 b-col_medium_2">
                <div class="b-sidebar__menu">
                    {{ admin_menu()|safe }}
                </div>
            </div>
            <div class="b-col b-col_small_12 b-col_medium_10">
                <div class="b-row">
                    <div class="b-col b-col_small_12">
                        <div class="b-pane">
                            <div>
                                {% block breadcrumbs %}
                                    {% include "admin/_breadcrumbs.html" %}
                                {% endblock %}
                            </div>
                            <div>
                                123
                            </div>
                        </div>

                        <div class="b-divider"></div>

                        {% include "admin/_flash.html" %}

                        {% block content %}
                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script type="text/javascript" src="/bundles/admin/build/js/app.js"></script>
{% endblock %}
</body>
</html>
