<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Панель управления</title>
    {% block header %}
        <link rel="stylesheet" href="/bundles/admin/css/bundle.css"/>
    {% endblock %}
</head>
<body class="b-body {% block body_class %}{% endblock %}">

{% if is_granted('ROLE_ADMIN') %}
    <div class="b-header">
        <div class="b-row">
            <div class="b-col b-col_small_10">
                <div class="b-pane">
                    <div class="b-header__menu">
                        {{ admin_menu()|safe }}
                    </div>
                </div>
            </div>
            <div class="b-col b-col_small_2">
                <div class="b-logo">Панель управления</div>
            </div>
        </div>
    </div>

    {% block breadcrumbs %}
        <div class="b-breadcrumb">
            <div class="b-breadcrumb__item">
                <a class="b-breadcrumb__item b-breadcrumb__item_link"
                   href="{{ url('admin_dashboard_index') }}">
                    <i class="b-icon">home</i>
                </a>
            </div>

            <div class="b-breadcrumb__symbol"></div>

            {% if breadcrumbs %}
                {% for bc in breadcrumbs %}
                    <div class="b-breadcrumb__item">
                        {% if bc.url %}
                            <a class="b-breadcrumb__item_link"
                               href="{{ bc.url }}">{{ bc.name }}</a>
                        {% else %}
                            <span class="b-breadcrumb__item">{{ bc.name }}</span>
                        {% endif %}
                    </div>
                    {% if not loop.last %}
                        <div class="b-breadcrumb__symbol"></div>
                    {% endif %}
                {% endfor %}

            {% endif %}
        </div>
    {% endblock %}

    {% include "admin/_flash.html" %}
{% endif %}

<div class="b-content">
    <div class="b-row">
        <div class="b-col b-col_small_12">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>

<script type="text/javascript" src="/bundles/admin/js/bundle.js"></script>
{% block js %}{% endblock %}
</body>
</html>
