.b-td {
  &__icon {
    width: 32px;
    text-align: center;
  }

  &__actions {
    width: 100px;
    text-align: right;
  }

  &__link {
    color: #000;
    text-decoration: none;
    font-size: 1em;

    &:hover {
      color: flexy-color();
      text-decoration: none;
    }
  }
}